.section-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Poppins-SemiBold', sans-serif;
    .section-title-feat{
        text-transform: uppercase;
        color: #777777;
        font-size: 12px;
        letter-spacing: 2px;
        margin: 0 0 20px;
        
    }
    .section-title-title{
        color: #000;
        font-size: 36px;
        margin: 0 0 15px;
        text-align: center;
    }
    .section-title-desc{
        color: #777777;
        font-size: 14px;
        text-align: center;
    }
}

//Responsive Traits Screen
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
    .section-title-container{
        width: 78%;
    }
}

@media only screen and (max-width: 767px) {
    .section-title-container{
        width: 80%;
    }
}

@media only screen and (max-width: 575px) {
    .section-title-container{
        width: 90%;
        .section-title-title{
            font-size: 25px;
        }
    }
}