.website-portfolio--section-wrap{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    // .website-portfolio--figure-caption{
    //     .website-portfolio--section-title{
    //         outline: 1px solid red;
    //     }
    //     .website-portfolio--section-desc{
    //         outline: 1px solid #0076ff;
    //     }
    // }
    .website-portfolio--figure-section{
        .website-portfolio--figure-wraps{
            position: relative;
            margin-top: 40px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 1px 1px 14px rgba(0, 118, 255, 1);
            // transition: all 0.5s ease-in-out;
            .website-portfolio--figure-desc{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: absolute;
                background: linear-gradient(to bottom right, #012d5f, #00c4ff);
                opacity: 0.8;
                background-size: 200% 100%;
                background-position: left top;
                color: #fff;
                z-index: 20;
                transform: translateX(-100%);
                transition: transform 0.5s;
                .website-portfolio--figure-title,
                .website-portfolio--figure-button{
                    transform: translate(650%, -1500%);
                    // opacity: 0;
                    transition: transform 0.5s ease-in-out;
                }
                p, button{
                    display: inline-block;
                    font-family: 'Poppins-Bold', sans-serif;
                    font-size: 18px;
                    text-align: center;
                    a{
                        font-size: 14px;
                        font-family: 'Poppins', sans-serif;
                    }
                }
                .website-portfolio--figure-button{
                    position: absolute;
                    height: 40px;
                    width: 170px;
                    margin-top: 120px;
                    background-color: transparent;
                    border: 2px solid #fff;
                    // background: linear-gradient(to bottom right, black, white);
                    // background-size: 200% 100%;
                    border-radius: 10px;
                    &:hover{
                        background: #fff;
                        color: #000;
                    }
                }
            }
            .website-portfolio--figure-items{
                transition: all 1s;
            }
            &:hover{
                .website-portfolio--figure-items{
                    transform: scale(1.12);
                }
                .website-portfolio--figure-desc{
                    transform: translateY(0%);
                    background-position: right top;
                    .website-portfolio--figure-title,
                    .website-portfolio--figure-button{
                        transform: translate(0%, 0%);
                        // opacity: 1;
                    }
                }
            }
        }
    }

}

