.carousel-wrap{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    img{
        width: 85%;
    }
}

.brand-area-item{
    border-radius: 10px;
}


//Responsive Traits Screen
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
    .carousel-wrap{
        width: 78%;
    }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}