.main-site-home--page-wrap{
    // background-color: rgba(239, 239, 249, 1);
    // height: 1000vh;

}


//Responsive Traits Screen
@media only screen and (min-width: 1200px) and (max-width: 2700px) {
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 460px) {
}