.hero-wrap{
    height: 910px;
    background: url("/website/assets/bv-asset/bv-header-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
    background-position-y: 50%;
    display: flex;
    justify-content: center;
    .hero-container{
        width: 1140px;
        display: flex;
        justify-content: center;
        align-items: center;
        .hero-left-content{
            font-family: 'Poppins', sans-serif;
            color: #fff;
            height: 100%;
            width: 475px;
            display: flex;
            justify-content: center;
            align-items: center;
            .hero-left-content-wrap{
                width: 475px;
                .hero-left-content-title{
                    font-size: 48px;
                }
                .hero-left-content-desc{
                    height: 120px;
                    margin-bottom: 20px;
                    font-family: 'Poppins-Medium', sans-serif;
                    font-size: 14px;
                }
            }
        }
        .hero-left-content-action-items{
            display: flex;
            align-items: center;
            .hero-left-content-action-item-call{
                height: 51px;
                border-radius: 6px;
                border: 2px solid #ffffff;
                font-size: 12px;
                font-family: 'Poppins-Medium', sans-serif;
                padding: 14px;
                width: 169px;
                background: rgba(255, 255, 255, 0.1);
                color: #ffffff;
                margin-right: 30px;
                &:hover{
                    background-color: #ffffff;
                    color: #222;
                    transition: all 0.5s ease;
                }
            }
            .hero-left-content-action-item-play{
                .play-wrap{
                    cursor: pointer;
                    background: linear-gradient(90deg, #e93d88 0%, #e5935a 100%);
                    border-radius: 50%;
                    box-shadow: 0 0 0 0 linear-gradient(90deg, #e93d88 0%, #e5935a 100%);
                    margin: 10px;
                    height: 60px;
                    width: 60px;
                    transform: scale(1);
                    animation: pulse-linear 2.5s infinite;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .play-wrap-shape{
                        // display: none;
                        box-sizing: border-box;
                        width: 16px;
                        height: 16px;
                        border-width: 8px 0px 8px 16px;
                        border-color: transparent transparent transparent #ffffff;
                    }
                }
            }
            .hero-left-content-action-item-watch{
                margin: 0 30px;
                font-size: 12px;
                font-family: 'Poppins-Medium', sans-serif;
            }
        }
    }
}




//Responsive Traits Screen
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hero-wrap{
        display: flex;
        height: 1051px;
        .hero-container{
            padding: 100px 15px;
            width: 960px;
            height: 851px;
            .hero-left-content{
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .hero-left-content-wrap{
                    margin-right: auto;
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    min-height: 345px;
                    .hero-left-content-title{
                        font-size: 36px;
                        line-height: 45px;
                        margin-bottom: 20px;
                    }
                    .hero-left-content-desc{
                        line-height: 24px;
                    }
                    .hero-left-content-action-items{
                        min-height: 108px;
                    }
                }
            }
            .hero-right-content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .hero-wrap{
        height: 436px;
        .hero-container{
            padding: 70px 0 100px 0;
            .hero-left-content{
                height: 100%;
                .hero-left-content-wrap{
                    width: 720px;
                    min-height: 265px;
                    margin-right: auto;
                    margin-left: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .hero-left-content-title{
                        font-size: 36px;
                        margin-bottom: 20px;
                        line-height: 45px;
                    }
    
                    .hero-left-content-desc{
                        height: 72px;
                        line-height: 24px;
                    }
                    .hero-left-content-action-items{
                        min-height: 108px;
    
                    }
                }
            }
            .hero-right-content{
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .hero-wrap{
        height: 505px;
        .hero-container{
            padding: 70px 0 100px 0;
            .hero-left-content{
                .hero-left-content-wrap{
                    min-height: 334px;
                    width: 540px;
                    .hero-left-content-title{
                        height: 90px;
                        font-size: 36px;
                        margin-bottom: 20px;
                        line-height: 45px;
                    }
                    .hero-left-content-desc{
                        height: 96px;
                    }
                    .hero-left-content-action-items{
                        .hero-left-content-action-item-call{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .hero-wrap{
        height: 515px;
        .hero-container{
            padding: 70px 0 100px 0;
            .hero-left-content{
                .hero-left-content-wrap{
                    width: 458px;
                    min-height: 345px;
                    .hero-left-content-title{
                        font-size: 28px;
                    }
                    .hero-left-content-desc{
                        height: 120px;
                    }
                    .hero-left-content-action-items{
                        .hero-left-content-action-item-call{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@keyframes pulse-linear {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(230, 110, 109, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px rgba(230, 110, 109, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(230, 110, 109, 0);
    }
  }